*/
*{

    margin: 0%;
    padding: 0%;

}
*/
body{
    background-color:gold ;
    color: blue;

    

    font: lighter 10px Arial, Helvetica, 
    sans-serif;

    list-style: none;
    margin: 1%;
}

.container{
width: 80%;
margin: auto;
}
.box-1{
    background-color: aqua;
    color: black;

    border: 5px red solid;
    padding-top: 20px;
    
}

.box-1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: oblique;
    text-decoration: line-through;
    text transform: border: ;
    letter-spacing: 30px


}

.box-2{
    border: 5px dotted black;
    padding: 20px;
    margin: auto;
}

.categories{
border: 10px black;
padding: 1%;
border-radius: 15px;

}

.categories h2{
text-align: center;

}

.categories ul{
padding: 0%;
padding-left: 20%;
list-style: none;

}

a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: blue;
}

a:active{

}

a:visited{
    color: blueviolet;
}

.categories li{
 border-bottom: dotted green;
 list-style-image: url('../images/check.png');
    padding: 8px;
}

.my-form{
padding: 20px;


}

my-form .form-group{
    padding-bottom: 15px;

}

.my-form label{
    display: block;
}

.my-form textarea{
width: 80%;

}